services:
    api-gateway:
        build:
            context: .
            dockerfile: apps/api-gateway/Dockerfile
        container_name: api-gateway
        ports:
            - '3000:3000'
        depends_on:
            - user-service
            - order-service
        environment:
            - NODE_ENV=development
            - HOST=0.0.0.0
            - PORT=3000
            - USER_SERVICE_URL=http://user-service:3001
            - ORDER_SERVICE_URL=http://order-service:3002

    user-service:
        build:
            context: .
            dockerfile: apps/user-service/Dockerfile
        container_name: user-service
        ports:
            - '3001:3001'
        environment:
            - NODE_ENV=development
            - HOST=0.0.0.0
            - PORT=3001

    order-service:
        build:
            context: .
            dockerfile: apps/order-service/Dockerfile
        container_name: order-service
        ports:
            - '3002:3002'
        environment:
            - NODE_ENV=development
            - HOST=0.0.0.0
            - PORT=3002
