JWT_SECRET=0f0448cf52b08aed18c43b081c8ce837c441057ec38e52634a6c2f34871cc903
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d
USER_SERVICE_HOST=user-service
USER_SERVICE_PORT=3001
ORDER_SERVICE_HOST=order-service
ORDER_SERVICE_PORT=3002
