# Variáveis de Ambiente - API Gateway

# URLs dos microserviços para comunicação HTTP síncrona
ORDER_SERVICE_URL=http://order-service:3002
PAYMENT_SERVICE_URL=http://payment-service:3003

# RabbitMQ para comunicação assíncrona
RMQ_URL=amqp://rabbitmq:5672

# User Service TCP
USER_SERVICE_HOST=user-service
USER_SERVICE_PORT=4001
